<form [formGroup]="educationsForm" class="step-container">
  <div formArrayName="educationArr" *ngFor="let edc of education.controls; let i = index" class="mt-3">
    <div [formGroupName]="i">
      <label for="universityName" class="mb-1 ms-1">University name</label>
      <input id="universityName" class="form-control" nbInput fullWidth  type="text" placeholder="e.g. Moscow State University"
             formControlName="universityName">

      <div class="error mt-1" *ngIf="education.controls[i].get('universityName')?.invalid &&
      (education.controls[i].get('universityName')?.dirty || education.controls[i].get('universityName')?.touched)">
        <div *ngIf="education.controls[i].get('universityName')?.errors?.['required']">* required</div>
      </div>


      <label for="city" class="mb-1 ms-1 mt-3">City</label>
      <input id="city" class="form-control" nbInput fullWidth type="text" placeholder="e.g. Moscow"
             formControlName="city">

      <div class="error mt-1" *ngIf="education.controls[i].get('city')?.invalid &&
      (education.controls[i].get('city')?.dirty || education.controls[i].get('city')?.touched)">
        <div *ngIf="education.controls[i].get('city')?.errors?.['required']">* required</div>
      </div>


      <label for="degree" class="mb-1 ms-1 mt-3">Degree</label>
      <input id="degree" class="form-control" nbInput fullWidth type="text" placeholder="e.g. Bachelor of science"
             formControlName="degree">

      <div class="error mt-1" *ngIf="education.controls[i].get('degree')?.invalid &&
      (education.controls[i].get('degree')?.dirty || education.controls[i].get('degree')?.touched)">
        <div *ngIf="education.controls[i].get('degree')?.errors?.['required']">* required</div>
      </div>


      <label for="subject" class="mb-1 ms-1 mt-3">Subject</label>
      <input id="subject" class="form-control" nbInput fullWidth type="text" placeholder="e.g. Software Engineering"
             formControlName="subject">

      <div class="error mt-1" *ngIf="education.controls[i].get('subject')?.invalid &&
      (education.controls[i].get('subject')?.dirty || education.controls[i].get('subject')?.touched)">
        <div *ngIf="education.controls[i].get('subject')?.errors?.['required']">* required</div>
      </div>


      <div class="date-select-wrapper">

        <div class="date-select-container">
          <label for="startDateMonth" class="mb-1 ms-1 mt-3">Start Date</label>
          <div class="date-select-flex">

            <nb-select id="startDateMonth" formControlName="startDateMonth">
              <nb-option *ngFor="let month of months" [value]="month">
                {{ month }}
              </nb-option>
            </nb-select>

            <nb-select id="startDateYear" formControlName="startDateYear">
              <nb-option *ngFor="let year of years" [value]="year">
                {{ year }}
              </nb-option>
            </nb-select>
          </div>
        </div>

        <div class="date-select-container">
          <label for="endDateMonth" class="mb-1 ms-1 mt-3">End Date</label>
          <div class="date-select-flex">

            <nb-select id="endDateMonth" formControlName="endDateMonth">
              <nb-option *ngFor="let month of months" [value]="month">
                {{ month }}
              </nb-option>
            </nb-select>

            <nb-select id="endDateYear" formControlName="endDateYear">
              <nb-option *ngFor="let year of years" [value]="year">
                {{ year }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>


      <label for="description" class="mb-1 ms-1 mt-3">Description</label>
      <textarea id="description" nbInput fullWidth type="text" class="form-control"
                formControlName="description">
      </textarea>
    </div>

    <button nbButton (click)="deleteEducation(i)" class="mt-3 mb-3 control-btn">
      <nb-icon icon="trash-2-outline"></nb-icon> Delete education
    </button>
  </div>

  <button nbButton (click)="addEducation()" class="mt-3 control-btn">
    <nb-icon icon="plus-circle-outline"></nb-icon> Add education
  </button>

  <div class="step-btn-container">
    <button class="mt-3" nbButton nbStepperPrevious type="button">prev</button>
    <button class="mt-3" nbButton nbStepperNext type="button" (click)="submitForm(); confirm.emit()"
            [disabled]="!educationsForm.valid">Confirm</button>
  </div>
</form>
