<nb-card>
  <nb-card-body>
    <nb-stepper #stepper>

      <nb-step [stepControl]="firstForm" label="Personal">
        <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
          <p class="">
            Personal information
          </p>

          <div class="">
            <label for="name" class="mb-1 ms-1">Name</label>
            <input id="name" class="form-control" nbInput type="text" placeholder="Enter your name" formControlName="name"
                   [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">

            <label for="surname" class="mb-1 ms-1 mt-3">Surname</label>
            <input id="surname" class="form-control" nbInput type="text" placeholder="Enter your surname" formControlName="surname"
                   [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">

            <label for="email" class="mb-1 ms-1 mt-3">Email</label>
            <input id="email" class="form-control" nbInput type="text" placeholder="Enter your email" formControlName="email"
                   [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">

            <label for="phone" class="mb-1 ms-1 mt-3">Phone</label>
            <input id="phone" class="form-control" nbInput type="text" placeholder="Enter your phone number" formControlName="phone"
                   [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
          </div>
          <button class="mt-3" nbButton nbStepperNext>next</button>
        </form>
      </nb-step>


      <nb-step [stepControl]="secondForm" label="Experience">
        <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
          <p class="">
            Experience
          </p>
          <div class="input-group">
            <input nbInput type="text" placeholder="Enter Experience" class="form-control" formControlName="secondCtrl"
                   [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
          </div>
          <button class="mt-3" nbButton nbStepperPrevious>prev</button>
          <button class="mt-3 ms-3" nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" label="Education">
        <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
          <p class="">
            Education
          </p>
          <div class="input-group">
            <input nbInput type="text" placeholder="Education" class="form-control" formControlName="thirdCtrl"
                   [ngClass]="{'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)}">
          </div>
          <button class="mt-3" nbButton nbStepperPrevious>prev</button>
          <button class="mt-3 ms-3" nbButton nbStepperNext>Confirm</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
        <div class="step-container">
          <h3>CV completed!</h3>
          <button class="mt-3" nbButton (click)="stepper.reset()">Try again</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
