<nb-card>
  <nb-card-body>
    <p *ngIf="!changeEvent">{{ titles[0] }}</p>
    <p *ngIf="changeEvent">{{ titles[changeEvent.index] }}</p>

    <nb-stepper #stepper (stepChange)="handleStepChange($event)">

      <nb-step [stepControl]="personalForm" label="Personal">
        <cv-personal-form (form)="personalFormSubmit($event)"></cv-personal-form>
      </nb-step>

      <nb-step [stepControl]="experiencesForm" label="Experiences">
        <cv-experiences-form (form)="experiencesFormSubmit($event)"></cv-experiences-form>
      </nb-step>

      <nb-step [stepControl]="educationForm" label="Education">
        <cv-education-form (form)="educationFormSubmit($event)" (confirm)="confirmForms()"></cv-education-form>
      </nb-step>

      <nb-step [stepControl]="educationForm" [hidden]="true" label="Last step">
        <div class="step-container">
          <h3>CV completed!</h3>
          <button class="mt-3" nbButton (click)="stepper.reset()">Try again</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
