.cv-content-container {
  display: flex;
  justify-content: center;

  #contentToConvert {
    width: 210px;
    height: 297px;
    overflow: hidden;
  }

  p {
    color: black;
    font-size: 6px;
    line-height: 0.6rem;
  }

  .header {
    padding: 0.3rem;
    margin: 0;
    background-color: var(--cv-result-header-background-color);

    p {
      color: white;
    }
  }

  .name {
    font-size: 8px;
    font-weight: bold;
  }

  th, td, caption {
    margin: 0;
    line-height: 1;
  }

  table {
    font-size: 4.5px;
    width: 100%;
    color: black;
    caption-side: top;
  }
  caption {
    margin: 0;
    padding: 0;
    font-size: 4px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    background-color: rgb(210, 215, 225);
  }
  th {
    width: 28%;
    padding: 0.1rem 0.3rem 0.1rem 0.1rem;
    font-weight: normal;
    text-align: end;
    vertical-align: baseline;
    background-color: rgb(237, 239, 243);
    font-style: italic;
  }
  td {
    width: 72%;
    padding: 0.1rem;
    vertical-align: baseline;
    background-color: rgb(246, 247, 249);
  }

  .separator {
    height: 0.5rem;
  }

  table tbody:last-child {
    .separator {
      height: 0;
    }
  }
}

.step-btn-container {
  display: flex;
  justify-content: space-between;

  button {
    width: calc(50% - 0.5rem);
  }
}

